[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic-xml = "==2.9.0"
html2text = "*"
loguru = "*"
requests = "*"
pyyaml = "*"
bs4 = "*"
python-frontmatter = "*"
pydantic = {version = "*", extras = ["email"]}
pydantic-settings = "*"
lxml = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.11"

[scripts]
scraper = "python ./scraper.py"
